### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [236]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [237]:
# Check df for columns and data 
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [238]:
# Calcuate the number total number of schools
total_schools = len(school_data_complete['School ID'].unique())
# total_schools= pd.DataFrame({'school_count': [total_schools]})
# total_schools

In [239]:
# calcuate the number of students
student_count = len(school_data_complete["Student ID"].unique())
# student_count = pd.DataFrame({'student_count': [student_count]})
# student_count

In [240]:
# Calculate total Budget
total_budget = "${:,}".format(school_data_complete['budget'].sum())
total_budget 

# Calculate average math score
avg_math_score = "{:.2f}".format(school_data_complete['math_score'].mean())
avg_math_score 
# Calcuate average reading score
avg_read_score = "{:.2f}".format(school_data_complete['reading_score'].mean())
avg_read_score

'81.88'

In [241]:
# count math score greater than or equal to 70
math_pass_count = len(school_data_complete[school_data_complete.math_score >=70])
math_pass_count

# percent of students with math pass score
math_pass_percent = (math_pass_count/student_count)*100
math_pass_percent = "{:.2f}%".format(round(math_pass_percent, 2))

# math_pass_percent =math_pass_percent.rename(columns={'student_count':'math pass percent'})
math_pass_percent

'74.98%'

In [242]:
# count math score greater than or equal to 70
read_pass_count = len(school_data_complete[school_data_complete.reading_score >=70])
read_pass_count

# percent of students with math pass score
read_pass_percent = (read_pass_count/student_count)*100
read_pass_percent = "{:.2f}%".format(round(read_pass_percent, 2))

# read_pass_percent.rename(columns={'student_count':'read pass percent'})
read_pass_percent

'85.81%'

In [243]:
# count of both math and reading greater than or equal to 70
math_read_pass_count = len(school_data_complete[(school_data_complete.reading_score >=70) & (school_data_complete.math_score >=70)])
math_read_pass_count


# Overall pass rate in both reading and math percentage
overall_pass_rate = (math_read_pass_count/student_count)*100
overall_pass_rate = "{:.2f}%".format(round(overall_pass_rate, 2))
# overall_pass_rate .rename(columns={'student_count':'overall pass percent'})
overall_pass_rate

'65.17%'

In [244]:
#create dataframe summary
district_sum = pd.DataFrame({
    'number of schools':[total_schools],
    'number of students':[student_count],
    'total budget':[total_budget],
    'avg math score':[avg_math_score],
    'avg read score':[avg_read_score],
    'math pass percent':[math_pass_percent],
    "read pass percent":[read_pass_percent],
    "pass rate math & reading":[overall_pass_rate],    
})
district_sum

,number of schools,number of students,total budget,avg math score,avg read score,math pass percent,read pass percent,pass rate math & reading
0,15,39170,"$82,932,329,558",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [245]:
# School name and type
school_type = school_data_complete.set_index(["school_name"])['type']
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [246]:
#  School budget
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [247]:
# student count per school
school_student_count = school_data_complete.groupby(["school_name"]).nunique()["student_name"]
school_student_count

# budget per student
budget_per_student = school_budget/school_student_count
budget_per_student

school_name
Bailey High School       651.162325
Cabrera High School      589.616140
Figueroa High School     652.949064
Ford High School         659.161435
Griffin High School      633.195307
Hernandez High School    671.410798
Holden High School       585.110849
Huang High School        668.521693
Johnson High School      670.127761
Pena High School         613.463874
Rodriguez High School    652.835213
Shelton High School      607.940161
Thomas High School       644.305127
Wilson High School       586.999110
Wright High School       588.558609
dtype: float64

In [248]:
# count of total students by school
school_student_count = school_math_pass_count = school_data_complete.groupby(["school_name"]).count()["math_score"]
school_student_count
# count of students that passed math by school
school_math_pass_count = school_data_complete[school_data_complete.math_score >=70].groupby(["school_name"]).count()["math_score"]
school_math_pass_count 

school_math_pass_rate = school_math_pass_count/school_student_count*100
school_math_pass_rate.sort_values(ascending=False)

school_name
Pena High School         94.594595
Cabrera High School      94.133477
Wilson High School       93.867718
Shelton High School      93.867121
Griffin High School      93.392371
Wright High School       93.333333
Thomas High School       93.272171
Holden High School       92.505855
Ford High School         68.309602
Hernandez High School    66.752967
Bailey High School       66.680064
Rodriguez High School    66.366592
Johnson High School      66.057551
Figueroa High School     65.988471
Huang High School        65.683922
Name: math_score, dtype: float64

In [249]:
# count of students that passed reading by school
school_read_pass_count = school_data_complete[school_data_complete.reading_score >=70].groupby(["school_name"]).count()["reading_score"]
school_read_pass_count 

school_read_pass_rate = school_read_pass_count/school_student_count*100
school_read_pass_rate.sort_values(ascending=False)

school_name
Thomas High School       97.308869
Griffin High School      97.138965
Cabrera High School      97.039828
Wright High School       96.611111
Wilson High School       96.539641
Holden High School       96.252927
Pena High School         95.945946
Shelton High School      95.854628
Bailey High School       81.933280
Huang High School        81.316421
Johnson High School      81.222432
Hernandez High School    80.862999
Figueroa High School     80.739234
Rodriguez High School    80.220055
Ford High School         79.299014
dtype: float64

In [250]:
# school count of stundents that passed both mantha and reading
school_both_pass_count = school_data_complete[(school_data_complete.reading_score >=70)
                                               & (school_data_complete.math_score >=70)
                                               ].groupby(["school_name"]).count()["student_name"]
school_both_pass_count

# school pass rate for both math and reading scores
school_overall_rate = school_both_pass_count/school_student_count*100

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [258]:
# convert to df
school_overall_rate = pd.DataFrame(data=school_overall_rate)
# rename column and sort by overall rate to show top 5 schools
school_overall_rate.rename(columns={0: "% overall passing"}, inplace=True)
school_overall_rate= school_overall_rate.sort_values(by=["% overall passing"], ascending=False)
school_overall_rate.head()

                     % overall passing
school_name
Cabrera High School          91.334769
Thomas High School           90.948012
Griffin High School          90.599455
Wilson High School           90.582567
Pena High School             90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [260]:
# show bottom 5 schools
school_overall_rate.tail()

                       % overall passing
school_name
Johnson High School            53.539172
Hernandez High School          53.527508
Huang High School              53.513884
Figueroa High School           53.204476
Rodriguez High School          52.988247

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type