### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [86]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [87]:
# Check df for columns and data 
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [88]:
# Calcuate the number total number of schools
total_schools = len(school_data_complete['School ID'].value_counts())
school_count= pd.DataFrame({'school_count': [total_schools]})
school_count

   school_count
0            15

In [89]:
# calcuate the number of students
student_count = len(school_data_complete["Student ID"].value_counts())
student_count = pd.DataFrame({'student_count': [student_count]})
student_count

   student_count
0          39170

In [90]:
# Calculate total Budget
total_budget = "${:,}".format(school_data_complete['budget'].sum())
total_budget 

# Calculate average math score
avg_math_score = "{:.2f}".format(school_data_complete['math_score'].mean())
avg_math_score 
# Calcuate average reading score
avg_read_score = "{:.2f}".format(school_data_complete['reading_score'].mean())
avg_read_score

'81.88'

In [98]:
# count math score greater than or equal to 70
math_pass_count = len(school_data_complete[school_data_complete.math_score >=70])
math_pass_count

# percent of students with math pass score
math_pass_percent = (math_pass_count/student_count)
math_pass_percent.rename(columns={'student_count':'math_pass_percent'})

   math_pass_percent
0           0.749809

In [100]:
# count math score greater than or equal to 70
read_pass_count = len(school_data_complete[school_data_complete.reading_score >=70])
read_pass_count

# percent of students with math pass score
read_pass_percent = (math_pass_count/student_count)
read_pass_percent.rename(columns={'student_count':'read_pass_percent'})

   read_pass_percent
0           0.858055

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type